@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --white: #ffffff;
  --black: #000000;

  --Grey-500: #5e6e85;
  --Grey-300: #acc1de;

  --Blue-900: #253347;
  --Blue-500: #345ff6;
  --Blue-300: #B33D3F1;
  --Blue-100: #e1e7fe;
}
